<div class="row">
  <div class="col m8 offset-m2">
    <% if @task.video_url.present? %>
      <div class="card z-depth-2">
        <div class="card-image waves-effect waves-block waves-light">
          <div class="center">
              <iframe width="100%" height="315" src="<%= @task.video_url %>" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    <% end %>
    <div class="card-content grey-text text-darken-4">
      <h5><%= @task.title %></h5>
      <hr/>
      <%= @task.description %>
    </div>
    <div class="row">
      <div class="col m4">
        <%= link_to "Previous", course_task_path(@task.course, @previous_task), class: "btn left" if @previous_task %>
      </div>
      <div class="col m4">
        <% if user_signed_in? %>
          <% unless current_user.has_completed_task?(@task) %>
            <%= link_to "Complete", complete_course_task_path(@task.course, @task), method: :put, class: "btn" %>
          <% else %>
            <button class="btn disabled">Completed</button>
          <% end %>
        <% end %>
      </div>
      <div class="col m4">
        <%= link_to "Next", course_task_path(@task.course, @next_task), class: "btn right" if @next_task %>
      </div>
    </div>
  </div>
</div>
