<header>
  <ul id="dropdown1" class="dropdown-content">
    <li><%= link_to "My Profile", edit_user_registration_path %></li>
    <li><%= link_to "My Courses", my_courses_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
  </ul>

  <ul id="dropdown2" class="dropdown-content">
    <li><%= link_to "My Profile", edit_user_registration_path %></li>
    <li><%= link_to "My Courses", my_courses_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
  </ul>

  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Mini Udemy</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to "Courses", courses_path %></li>
          <% if !user_signed_in? %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% else %>
            <!-- Dropdown Trigger -->
            <li>
              <a class="dropdown-button valign-wrapper" href="#!" data-activates="dropdown1">
                <%= image_tag avatar_url(current_user), class: 'circle responsive-img' %>
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
          <% end %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><%= link_to "Courses", courses_path %></li>
          <% if !user_signed_in? %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% else %>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown2"><%= current_user.name %> <i class="material-icons right">arrow_drop_down</i></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container">
  <div class="row">
    <div class="col s12">
      <%= form_tag courses_path, method: :get do %>
        <div class="input-field">
          <%= text_field_tag :search, params[:search], type: "search", placeholder: "Search Course" %>
          <!-- <input id="search" type="search" required placeholder="Search Course"> -->
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      <% end %>
    </div>
  </div>
</div>
