<div class="row">
  <div class="col m4">
    <div class="card z-depth-2">
      <div class="center">
        <h1><%= user_signed_in? && current_user.has_course?(@course) ? "20%" : number_to_currency(@course.price) %></h1>
      </div>
      <div class="card-action center">
        <% if user_signed_in? && current_user.has_course?(@course) %>
          <%= link_to @course do %>
            <button class="btn waves-effect waves-light green darken-2">View this course</button>
          <% end %>
        <% else %>
          <%= link_to subscribe_course_path(@course) do %>
            <button class="btn waves-effect waves-light green darken-2">Take this course</button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col m8">
    <div class="card z-depth-2">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag(@course.image.url) %>
      </div>
    </div>
    <div class="card-content grey-text text-darken-8">
      <h5><%= @course.title %></h5>
      <span>
        <div class="review_star" data-score="<%= @course.average_rating %>"></div> 
        <div><%= pluralize(@reviews.count, 'Review') %></div>
      </span>
      <hr>
      <%= @course.description %>
      <div class="collection">
        <% @tasks.each do |task| %>
          <% if can?(:read, task) %>
            <%= link_to [@course, task], class: "collection-item" do %>
              <%= task.title %>
            <% end %>
          <% else %>
            <div class="collection-item grey lighten-4">
              <i><%= task.title %></i>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="card-content">
      <h5>Reviews</h5>
      <%= render "reviews/form" if user_signed_in? && current_user.has_course?(@course) && !current_user.has_course_review?(@course) %>
      <%= render "reviews/reviews" %>
    </div>
  </div>
</div>
