<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Udemy</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'custom', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/header" %>

    <main>
      <div class="container">
        <%= render "shared/msg" %>

        <%= yield %>
      </div>
    </main>

    <%= render "shared/footer" %>

    <script>
      $(document).ready(function() {
        $(".button-collapse").sideNav();
      });
    </script>
  </body>
</html>
